<app-header></app-header>

<div class="card bg-light">
	<div style="margin-top: 50px; text-align: center;" class="alert alert-success" role="alert" *ngIf="useraddsucess">
		{{useraddsucessmsg}}
	</div>
	<article class="card-body mx-auto" style="max-width: 400px;">
		<h4 class="card-title mt-3 text-center">Create Account</h4>
		<form [formGroup]="userForm" (ngSubmit)="createUserSubmit()">
			<div class="form-group input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fa fa-user"></i> </span>
				</div>
				<input name="" formControlName="name" class="form-control" placeholder="Full name" type="text">
			</div> <!-- form-group// -->
			<div class="form-group input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
				</div>
				<input name="" formControlName="email" class="form-control" placeholder="Email address" type="email">
			</div> <!-- form-group// -->
			<div class="form-group input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fa fa-phone"></i> </span>
				</div>
				<input name="" class="form-control" formControlName="phoneNumber" placeholder="Phone number" type="text">
			</div> <!-- form-group// -->
			<div class="form-group input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
				</div>
				<input class="form-control" formControlName="password" placeholder="Create password" type="password">
			</div> <!-- form-group// -->
			<div class="form-group input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
				</div>
				<input class="form-control" placeholder="Repeat password" type="password">
			</div> <!-- form-group// -->
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-block"> Create Account </button>
			</div> <!-- form-group// -->
			<p class="text-center">Have an account? <a href="login">Log In</a> </p>
		</form>
	</article>